html {
    scroll-behavior: smooth;
   }
 #veeraland 
 {font-size: 20px;
color:aliceblue;
background-color: #0a5010;}  

   body
{
    text-align: center;
   background:url("birthdaybackgroundpic.jpg");
   background-position: cover;
}

   #map iframe
   {
       width: 100%;
      height:400px;
       padding-top: 10px; }
   
   
   .contact_1 a
   {
       text-shadow: none;
      
       color: rgb(4, 26, 46);
       font-size: 25px;
   }
   .contact_1 a:hover
   {transform:scale(1.5);}

   #footer{
     height: 20px;
     background-color:white;
     }
   
   input
   {
       background: rgb(33, 20, 215)
   }
   
   .announcement{
   background-color:#370674;
   width: 100%;
   height: 50px;
   }
   
   #marqueeStyle{
     width:100%;
     direction:right;
     height:100px;
     color: rgb(247, 239, 10);
     font-size:120%;
   }
   
   #video{
     width:100%;
     height:500px;
     border: none;
   }
   
   /* Clearfix (clear floats) */
   .row::after {
     content: "";
     clear: both;
     display: table;
   }
   
   .travel_mainDiv
   {
     float: left;
     width: 100%;
     padding: 5px;
     border: 10px solid #0f032a;
   }
   
   
   .navbar-brand
   { background: rgb(4, 17, 53);
    font-family: sans-serif;
   
  }

   .navbar-brand:hover
   { transform: scale(1.2);}
  #myNavbar
  { font-family: 'Dancing Script', cursive;
  font-size: 20px;
  background-color:rgb(3, 8, 37);}

  #myNavbar :hover
 { transform: scale(1.2);
  box-shadow: 0 0 20px rgba(236, 11, 11, 0.5);
  color:rgb(241, 11, 11);
}
.page-header
{color:rgb(9, 1, 1);
font-family:'Dancing Script', cursive ;
font-size: 40;}

ul li{color:whitesmoke;}
  #veeraland
  {
 
    font-size: 15px;
   font-family: cursive;
  }
  #output
  {width:200px;
  height: 200px;
border-radius: 10px;}
